
.navbar {	
	width: 100%; 
	height: auto;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	background: rgba(0,0,0,.6);	
	position: relative;
	padding-top: 10px;
	padding-right: 0;
}
.navbar.navbar-default {
	background: rgba(0,0,0,0);	
	padding-right: 15px;
}
.navbar.navbar-nav {
	animation: fadeIn 1s ease-in-out;
}
.navbar .logo {
	padding-left: 15%;
    padding-bottom: 2px;
}
.navbar .logo img {
	margin: 0 5px;
}
.navbar .logo img, .navbar .logo span {
	display: block;
}
.navbar.navbar-default .logo img, 
.navbar.navbar-default .logo span {
	display: none;
}
.navbar .navbar-toggle {
	display: none;
	padding-right: 5%;	
}
.navbar .navbar-toggle .btn {
	cursor: pointer;
}
.navbar .navbar-collapse {
	display: flex;
	justify-content: right;	
	padding-right: 12.5%;
}
.navbar .navbar-collapse .menu {
	display: inline-flex;
}
.navbar .navbar-collapse .menu li {
	padding: 15px;
	list-style: none;
}
.navbar .navbar-collapse .menu li a {
	font-size: 1.15rem;
}

.header-slide {
	position: fixed;
	top: 0vh !important;
	transition: top .5s;
}


@media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (max-width: 840px) {		
	.navbar .logo {
		width: max-content;
		height: 60px;
		padding-left: 5%;
	}
	.navbar .logo img, .navbar .logo span {
		display: block;
	}	
	.navbar.navbar-default {
		padding-right: 0;
	}
	.navbar.navbar-default .logo img, 
	.navbar.navbar-default .logo span {
		display: none;
	}
	.navbar .navbar-toggle {
		display: block;
		padding-right: 15px;
	}
	.navbar .navbar-collapse {
		display: none;
		width: 100%;
		height: 100vh;
		padding: 0;
		align-items: center;
		background: rgba(0,0,0,.85);
		clip-path: inset(0 0 100%);
		transition: all .6s;
		position: fixed;
		top: 0;
		z-index: -1;
	}
	.navbar .navbar-collapse.collapse-in {
		display: flex;
	}
	.navbar .navbar-collapse.collapse-in.expand {
		clip-path: inset(0);
	}
	.navbar .navbar-collapse .menu {
		display: grid;
		width: 100%;
		height: auto;
	}
	.navbar .navbar-collapse .menu li {
		margin: 1px 0;
		padding: 20px 0;
		text-align: center;
		transition: background .2s;
	}
	.navbar .navbar-collapse .menu li a {
		padding: 20px;
	}
	.navbar .navbar-collapse .menu li:hover {
		background: #16222a;
	}	
}

@media all and (min-width: 841px) {
	.navbar .navbar-collapse .menu li a {
		font-size: 1.15rem;
	}
}


@media all and (max-device-width: 1115px) {
	.navbar .navbar-collapse .menu li a {
		font-size: 2rem;
	}
}


@media all and (max-device-width: 739px) {
	.navbar {
		padding-top: 7px;
	}
	.navbar .logo {
		height: 45px;
	}
	.navbar .navbar-collapse .menu li a {
		font-size: 1.5rem;
	}
}


@media all and (max-device-height: 420px) {
	.navbar {
		padding-top: 0;
	}
	.navbar .navbar-collapse .menu {
		margin-top: 15vh;
	}
	.navbar .navbar-collapse .menu li a {
		font-size: 1.25rem;
	}
}
