
section#animacoes strong {
    font-size: 2em; 
    line-height: 3;
}
section#animacoes .IE-alert {
    display: none;
}
section#animacoes .grid-row:first-child {
    padding: 15px 15% 0px;
    border-bottom: 1px solid #35484a;
}
section#animacoes .grid-row:first-child button {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 0;
    margin-top: 30px;
    background: #a1e0cf;
    cursor: pointer;
    display:none;
}
section#animacoes .col-md-4 {
    margin-bottom: 30px;
}
section#animacoes .caption {
    line-height: 1.4;
}
section#animacoes .caption dt {
    text-align: left;
    margin-left: 40px;
}
section#animacoes .caption dt span {
    text-shadow: 0px 0px 1px #fff;
}

.source-animate { 
    position: relative;
    overflow: hidden;
    user-select: none;
    border: 1px solid #354648;
    border-radius: 7px;
    margin-bottom: 10px;
}
.source-animate .btn:hover {
    filter: brightness(150%);
    box-shadow: 0px 0px 5px #81cb63;
}


@media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    section#animacoes .caption span:first-child {
        display: none;
    }
    section#animacoes .caption span:last-child {
        display: block !important;
    }
}


@media all and (min-width: 1367px){
    .source-animate {    
        width: 100%;
        height: 275px;
    }
}


@media all and (min-width: 1600px){
    .source-animate {    
        width: 100%;
        height: 320px;
    }
}


@media all and (max-width: 1366px){
    .source-animate {    
        width: 100%;
        height: 250px;
    }
}

@media all and (max-width: 1200px){    
    section#animacoes .grid-row:first-child {
        padding: 0;
        grid-gap: 15px 0;
    }
    section#animacoes .grid-row:last-child .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .source-animate {    
        width: 100%;
        height: 320px;
    }
}

@media all and (max-width: 991px){
    .source-animate {    
        width: 100%;
        height: 250px;
    }
}

@media all and (max-width: 840px){   
    section#animacoes .grid-row:first-child .col-md-6:last-child {
        display: flex;
        justify-content: center;
    }
    section#animacoes .grid-row:last-child .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    section#animacoes p {
        margin-top: 10px;
    }
    section#animacoes .caption blockquote {
        margin-left: 0;
    }
    .source-animate {    
        width: 100%;
        height: 370px;
    }
}

@media all and (max-width: 767px) {    
    .source-animate {    
        width: 100%;
        height: 250px;
    }

}

@media all and (max-width: 320px) {
    .source-animate {    
        width: 100%;
        height: 225px;
    }
}














