section#home {
	width: 100vw;
	height: 100vh;
}
section#home:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background: url('../../img/base/fundo.jpg') no-repeat;
	background-size: cover;
	background-position: bottom center;
	padding-bottom: 0;
}

section#home .container {
	padding-bottom: 0;
	height: 100vh;	
}

section#home .container:before {
	opacity: .22;
}

.main-text {
	display: flex;
	align-items: center;
	position: relative;
}
.main-text #info {
	font-size: 14px;
	margin-top: 15px;
	color: #eee;		
}
.main-text #info > h1 {
	font-size: 6.5rem;
}	
.main-text #info {	
	display: grid;
	font-family: 'arial';
}
.main-text #info h1, 
.main-text #info h2 strong {
	color: #adc2cd;
}
.main-text #info h1 {
	line-height: 85%;    
	text-shadow: 2px 2px 2px #1d2b34;
	margin: 0.05em -0.05em 0.2em;
	width: min-content;
}
.main-text #info h2 {
	font-size: 2em;
    	font-weight: 100;
	line-height: unset;  		
}
.main-text #info h2 strong {
	text-shadow: 2px 2px 2px #1d2b34;	
}
.main-text #info h3 {
	font-size: 1.33em;
	font-weight: lighter;
	padding: 4vh 10vw;	
	text-shadow: 0 2px 1px #000;
} 


@media all and (min-width: 768px){
	.main-image, .main-text {
		max-width: 50%;
    		flex: 0 0 50%;
	}
	.main-image img {	
		width: 456px;
		height: auto;
	}
	.main-text #info {
		font-size: 14px;	
	}
	.main-text #info > h1 {
		font-size: 6.5rem;
	}	
}

@media all and (min-width: 1200px){
	.main-text #info {
		font-size: 16px;
	}
	.main-text #info > h1 {
		font-size: 7rem;
	}
	.main-text #info h2 {
		font-size: 2em;
		padding-right: 8vw;
	}	
}


@media all and (min-width: 1367px){
	.main-text #info {
		font-size: 22px;
		margin-top: 50px;
	}
	.main-text #info > h1 {
		font-size: 8rem;
	}
	.main-text #info > h2 {
		font-size: 1.75em;
		line-height: 104%;
		padding-right: 4vw;
	}	
}


@media all and (min-width: 1601px){
	.main-text #info {
		font-size: 26px;
		padding: 0 2vw;	
		margin-top: 30px;
		margin-bottom: 50px;	
	}
	.main-text #info > h1 {
		font-size: 10rem;
	}
	.main-text #info > h2 {
		font-size: 1.75em;
		line-height: 108%;
		padding-right: 4vw;
	}
	.main-text #info > h3 {
		font-size: 1.17em;
	}
}

@media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), (max-width: 768px) {
	section#home .container {
		padding: 0 30px;
	}
	.main-image, .main-text {
		max-width: 50%;
    		flex: 0 0 50%;
	}	
}

@media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	section#home .container {
		padding: 60px 15px 0;
	}	
	.main-image, .main-text {
		max-width: 100%;
    		flex: 0 0 100%;
	}
	.main-image {
		display: none;
	}
	.main-text #info h3 {
		font-size: 1.54em;
		padding: 3vh 0vw;
		text-align: center;
	}
}

@media all and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1115px) {
	section#home .container:before {
		opacity: .44;
	}
	.main-text {
		align-items: end;
	}
	.main-text #info {
		font-size: 18px;
		margin-bottom: 50px;
	}
	.main-text #info h2 {
		font-size: 1.75em;
		line-height: 1.25;
	}
}

@media all and (max-device-width: 991px) and (orientation: landscape) {
	.main-text #info {	
		font-size: 13px;
		margin-bottom: 15px;
	}
	.main-text #info h1 {
		font-size: 5rem;
	}
}

@media all and (max-device-width: 840px) and (orientation: landscape) {	
	.main-text #info {
		font-size: 11px;
		margin-top: 10px;
	}
}

@media all and (max-device-width: 840px) and (orientation: portrait) {
	.main-text {
		align-items: baseline;
	}
	.main-text #info {
		font-size: 16px;
		padding: 0 10px	;
	}
	.main-text #info p {
		font-size: 1.7em;
	}
	.main-text #info h1 {
		font-size: 7rem;
	}
	.main-text #info h2 {
		font-size: 2em;
	}
	.main-text #info h3 {
		font-size: 1.75em;
	}
}


@media all and (max-device-width: 557px) and (orientation: portrait) {	
	.main-text #info {
		font-size: 13px;
		padding: 0 5px;
	}
	.main-text #info h1 {
	    font-size: 5.4rem;
	}
}

@media all and (max-device-width: 390px) and (orientation: portrait) {		
	.main-text #info p {
		font-size: 1.45em;
	}
	.main-text #info h2 {
		font-size: 1.7rem;
	}
	.main-text #info h3 {
		font-size: 1.5rem;
	}
}

@media all and (max-device-width: 320px) and (orientation: portrait) {	
	.main-text #info {
		font-size: 11px;
		padding: 0;
	}
	.main-text #info p {
		font-size: 1.25em;
	}
	.main-text #info h1 {
		font-size: 4rem;
	}
	.main-text #info h2 {
		font-size: 1.5rem;
		letter-spacing: -0.8px;
		text-align: justify;
	}
	.main-text #info h3 {
		font-size: 1.33rem;
	}

}

@media all and (max-device-height: 320px) {
	.main-text #info h1 {
		font-size: 4rem;
	}
	.main-text #info h2 {
		font-size: 1.65em;
	}
}
