section#home {	
	background: #151f20;
	overflow: hidden;	
}

section#home .container {
	background: url('../../img/base/fundo.png') no-repeat;
	background-size: cover;
	background-position: center top;
	padding-bottom: 0;
	height: 100vh;	
	transition: transform .6s linear;	
}

section#home .container.parallax-in {
	transform: translateY(10vh);
}
	
section#home .container:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url('../../img/base/nuvem.png') repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    opacity: 0.15;
    z-index: 0;
    animation: cloud 60s infinite; 
}

	@keyframes cloud {
	    0% {transform: scale(1.5,1); top: -10%;}
	    50% {transform: scale(1.2,1); top: -15%;}
	    100% {transform: scale(1.5,1); top: -10%;}
	}

.main-image, .main-text {
	display: flex;
	justify-content: center;
	position: relative;
}
.main-image img {	
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
}

.main-text #info {	
	display: grid;
	font-family: 'arial';
	font-size: 1.2rem;
	padding: 0 2vw;
	position: absolute;
	bottom: 2vw;
}
.main-text #info > h1 {
	font-size: 7rem;
	color: #D2D8DD; 
    line-height: 85%;    
    text-shadow: 2px 2px 2px #1d2b34;
    margin: 0.05em -0.05em 0.2em;
    width: min-content;
}
.main-text #info > h2 {
	font-size: 2em;
    font-weight: 100;
    line-height: unset;  
}
.main-text #info > h2 > strong {
	text-shadow: 2px 2px 2px #1d2b34;
	color:  #D2D8DD;
}
.main-text #info > h3 {
	font-size: 1.4em;
	font-weight: lighter;
	padding: 4vh 10vw;	
} 


@media all and (min-width: 1367px){
	.main-image img {	
		width: 580px;
		height: auto;
	}
	.main-text #info {
		font-size: 22px;
		bottom: 2vw;
	}
	.main-text #info > h1 {
		font-size: 8.5rem;
	}
	.main-text #info > h2 {
		font-size: 1.75em;
		line-height: 104%;
	}		
}

@media all and (min-width: 1601px){
	.main-image img {	
		width: 740px;
		height: auto;
	}
	.main-text #info {
		font-size: 26px;
	}
	.main-text #info > h1 {
		font-size: 11rem;
	}
	.main-text #info > h2 {
		font-size: 2em;
	}
}

@media all and (max-width: 1366px){
	.main-image img {	
		width: 480px;
		height: auto;
	}
	.main-text #info > h2 {
		width: 80%;
	}	
}

@media all and (max-width: 1200px){
	.main-image img {
		left: -4vw;
	}
	.main-text #info > h2 {
		width: 100%;
	}	
}



@media all and (max-width: 840px) {
	.main-image, .main-text {
		width: 100%;
	}
	.main-image {
		order: 1;
	}
	.main-image img {
		width: 360px;
		height: auto;
	}
	.main-text {
		order: 0;
	}
	.main-text #info {
		font-size: 13px;
		top: -4vh;
    	bottom: unset;
	}
	.main-text #info h1 {
		font-size: 5.6rem;
	}
}


@media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.main-image, .main-text {
		max-width: 50%;
    	flex: 0 0 50%;
	}
	.main-image {
		order: 0;
	}
	.main-text {
		order: 1;
	}
}


@media all and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
	.main-image, .main-text {
		max-width: 100%;
    	flex: 0 0 100%;
	}
	.main-image {
		order: 1;
	}
	.main-text {
		order: 0;
	}
}


@media all and (max-device-width: 991px) and (orientation: landscape) {
	section#home .container {
		background-size: 150%;
		background-position: 15% bottom;
	}
	.main-image img {
		width: 340px;
    	height: auto;
    	left: 0;
	}
	.main-text #info {
		padding: 0 5px;
		font-size: 13px;
		margin-top: 30px;
		bottom: 0;
	}
	.main-text #info h1 {
		font-size: 5rem;
	}
	.main-text #info h2 {
		font-size: 1.75em;
		line-height: 1.25;
	}
}

@media all and (min-device-height: 991px) and (orientation: portrait) {
	.main-image img {
		width: 70%;
    	left: 0;
	}
	.main-text #info {
		font-size: 2rem;
	}
	.main-text #info h1 {
		font-size: 10rem;
	}
	section#home .container {	
		background-size: cover;
		background-position: 15% top;
	}
}


@media all and (max-device-width: 840px) and (orientation: portrait) {
	section#home .container {	
		background-size: cover;
		background-position: 15% top;
	}
	.main-image img {
		width: 70%;
    	left: 0;
	}	
	.main-text #info {		
		padding: 0 4vw;
		font-size: 18px;
		top: 0;
    	bottom: 2vw;
	}
	.main-text #info h1 {
    	font-size: 7rem;
	}
}


@media all and (max-device-width: 690px) and (orientation: landscape) {
	.main-image img {
		left: -4vw;
	}
	.main-text #info {
		font-size: 11px;
		margin-top: 10px;
	}
}


@media all and (max-device-width: 557px) and (orientation: portrait) {
	section#home .container {
		padding-top: 50px;
	}
	.main-text #info {
		font-size: 1.2rem;
		top: 0;
		bottom: unset;
	}
	.main-text #info h1 {
	    font-size: 5rem;
	}
	.main-text #info h2 {
		font-size: 1.74em;
	}
	.main-text #info h3 {
		padding: 0 15vw;
    	text-align: start;
    	margin-top: 20px;
	}	
}


@media all and (max-device-width: 480px) {	
	.main-image img {
		width: 88%;
		height: auto;
		left: 0;
	}
	.main-text #info {
		font-size: 1.07rem;
	}
	.main-text #info h2 {
		font-size: 1.7em;
	}
}


@media all and (max-device-width: 320px) {
	.main-text #info h1 {
    	font-size: 4.42rem;
	}
	.main-text #info h2 {
    	font-size: 1.5em;
	}
}

@media all and (max-device-height: 360px) and (orientation: landscape) {
	.main-image img {
		width: 320px;
	}
	.main-text {
		top: -15px;
	}
	.main-text #info h2 {
		font-size: 1.5rem;;
	}
}

@media all and (max-device-height: 320px) and (orientation: landscape) {
	.main-image img {
		width: 250px;
		left: 0;
	}
	.main-text {
		top: -40px;
	}
	.main-text #info h1 {
		font-size: 4rem;
	}
	.main-text #info h2 {
		font-size: 1.25rem;
	}
	.main-text #info > h3 {
		font-size: 1.15rem;
	}
}