
section#sobre .container .row:last-child {
	align-items: center;
}

section#sobre strong {
	color: #f65;
}
.profile {
	margin-bottom: 30px;
}
.profile #info {
	padding: 4% 4% 2%;
	line-height: 1.5;
}

.profile strong {
	font-size: 1.5em;
}

.profile img {
	width: 290px;
	height: 290px;
	border-radius: 300px;
	margin: 30px 40px;
	position: sticky;
	left: 7.5%;
}

.icons-group {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto;
	grid-gap: 20px;	
	align-items: center;
	-ms-flex-direction: column;
}
.icons-group i {
	font-size: 2.5rem;
	margin-bottom: 15px;
}
.icons-group i.fa-sliders-h:before {
  content: "\f1de";
}
.icons-group i.fa-tint {
	margin-right: 7.5px;
}
.icons-group p {
	font-size: 1.2rem;
}

.card {
	width: 100%;
	height: 200px;
	background: #fff;
	margin: 0 5px;
}

@media all and (min-width: 2000px) {	
	.profile img {
		width: 450px;
		height: 430px;
	}
	.icons-group {
		grid-gap: 40px;
	}
	.icons-group i {
		font-size: 4rem;
	}
}

@media all and (max-width: 1280px) {	
	.profile img {
		width: 270px;
	    height: 260px;
	}
}


@media all and (max-width: 1024px) {
	.profile img {
		width: 250px;
		height: 240px;
	}
	.icons-group {
		grid-gap: 40px;		
	}
	
}


@media all and (max-width: 991px) {
	section#sobre .container .row:last-child {
		display: grid;
	    justify-content: center;
	    text-align: center;
	}	
	.profile {
		flex: 100%;
		max-width: 100%;
	}	
	.-ms-icons-group {
		width: 15%;
		height: 380px;
		-ms-transform: translate(-300%,75%);
	}
}

@media all and (max-width: 840px) {
	.profile #info {
		text-align: justify;
	}
	.-ms-icons-group {
		width: 15%;
		height: 250px;
		-ms-transform: translate(-160%,0%);
	}
}



@media all and (max-width: 740px) {
	.profile img {
		width: 200px;
		height: 190px;
	}
	.icons-group {
    	padding-top: 0;
    	transform: scale(0.7);
	}
	.-ms-icons-group {
		width: 25%;
		height: 100px;
		-ms-transform: translate(0%,0%);
		margin-right: 350px;
	}
}

@media all and (max-width: 480px) {
	.profile img {
	    width: 180px;
	    height: 180px;
	}
	.icons-group {
    	transform: scale(0.6);
	}
	.-ms-icons-group {
		width: 100%;
		margin-right: 300px;
	}
}
