
section#trabalhos {
	background: #d2d8dd;
}
section#trabalhos .container {
	height: 100vh;
}
section#trabalhos .container:before {
	content: "";
	width: 100rem;
	height: 100rem;
	border-radius: 50%;
	background: rgba(45, 103, 110, 0.06);
	position: absolute;
	top: -50rem;
	transition: top 2s linear;
}

section#trabalhos .container.parallax-in:before {
	top: -50rem;
}

section#trabalhos .container .btn {
	width: 5%;
	height: 100%;
	display: grid;
	align-items: center;
	margin-top: -100px;
    position: absolute;
    z-index: 9;
}
section#trabalhos .container .btn.prev  {
	left: 0;
}
section#trabalhos .container .btn.next {
	right: 0;	
}
section#trabalhos .container .btn i {	
    font-size: 2.5rem;
    color: #607D8B;
    cursor: pointer;
}
section#trabalhos .container .btn i:hover {
	font-size: 2.75rem;
	background: #607D8B;
	color: #d2d8dd;
	transition: all .6s linear;
}
.testimonial {	
	width: 100%;
	height: 100%;	
	font-size: 0.95rem;
	text-align: center;	
	padding: 0 5vw;
	margin-bottom: 5vh;
	transition: 1s left ease;
	display: flex;
	align-items: center;
	position: absolute;
	left: 100%;
}
.testimonial:nth-child(1) {
	left: -100%;
}
.testimonial:nth-child(2) {
	left: 0;
}
.testimonial .card-image, .testimonial .card-text {	
    display: flex;
    align-items: center;
}
.testimonial .card-image img {
	width: 100%;
	height: 350px;
	transform: scale(0.9);
}
.testimonial .card-image img.vertical {
	width: 50%;
	margin-left: 50%;
}
.testimonial table {
	width: 100%;
	height: auto;
}
.testimonial table tbody {	
	display: grid;
	padding: 5px;
	margin: 0 12px;
    border-radius: 8px;
	color: #d2d8dd;
	color: #2A353A;
	text-align: left;	    
}
.testimonial table tr {
	margin: 8px 0;
}
.testimonial table tr td {
	vertical-align: top;
}
.testimonial table img {
	width: 60px;
	height: 58px;
	margin-right: 5px;
	border-radius: 50%; 
	box-shadow: 0 3px 7px #444;	       
}
.testimonial table i {
	font-size: 32px;
	border-radius: 5px;	
	margin: 0 8px 0 5px;
	color: #fff;
}
.testimonial .client h4 {
	color: #f54;
	margin-top: 10px;
}
.testimonial .project i {
	padding: 5px;	
	background: #b0c4de;
}
.testimonial .project h4 {
	color: #7c939f;
}
.testimonial .comments {
	text-align: justify;
}
.testimonial .comments i {
	padding: 8px;
	background: rgba(96, 124, 138, 0.8);
	float: left;	
	margin-right: 10px;
}
.testimonial .comments p.stars {
	margin-top: 5px;
	float: left;
}
.testimonial .comments p.stars i.fa-star {
	font-size: 14px;
	color: gold;
	background: transparent;	
	margin: 0;
}
.testimonial .comments #btn_dt {
	display: none;
}
.testimonial .comments #btn_dt b {
	color: #7c939f;
	font-style: italic;
	cursor: pointer;
}
.testimonial .comments #dt {
	display: block;
}

.-ms-testimonial-table {
	width: 290px !important;
	position: relative !important;
}
.-ms-testimonial-table-client {
	position: relative;
	height: 75px;
}
.-ms-testimonial-table-project {
	position: relative;
	height: 102px;
}
.-ms-testimonial-table-td-2nd {
	position: absolute;
	margin-left: -204px;
}


@media all and (max-width: 840px) {
	.testimonial {
		display: block;
	}
	.testimonial .card-image, .testimonial .card-text {	
		width: 100%;
		justify-content: center;
	}
	.testimonial .card-image img {
		width: auto;
	}
	.testimonial .card-image img.vertical {
		margin-left: 0;
	}
}

@media(-webkit-min-device-pixel-ratio: 2) and (max-width: 840px) {
	section#trabalhos .container .btn {
		width: auto;
		height: 100%;
    	margin-top: 0;
	}	
	.testimonial {
		display: block;
	}
	.testimonial .card-image img {
		width: 100%;
		height: auto;
		transform: scale(0.8);
	}
}


/*
@media(-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {	
	.testimonial {
		display: block;
	}	
	.testimonial .card-image img {
		width: 100%;
		height: auto;
		transform: scale(0.8);
	}
}*/

