/* ---Cube3D--- */
#cube3D {
    perspective: 600px;
    transform-style: preserve-3d;
    background: url('../../img/base/grid-3d.png') #041d29 no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
#cube3D #element {
    width: 100px;
    height: 100px;   
    position: relative;
    margin-top: 0;
    transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-45deg);
    transition: all 1s;
    z-index: 1;
}
#cube3D #element .side {
    position: absolute;
    width: 100px;
    height: 100px;
    border-left: 2px solid rgba(82, 99, 91, .4);    
    background: linear-gradient(to bottom, #85c854 30%, #47ae43 70%, #3b7f20 100%);
}
#cube3D #element .side.front {
    transform: rotateY(0deg) translateZ(50px);
}
#cube3D #element .side.back {
    transform: rotateY(180deg) translateZ(50px);
}
#cube3D #element .side.left {
    transform: rotateY(-90deg) translateZ(50px);
}
#cube3D #element .side.right {    
    transform: rotateY(90deg) translateZ(50px);
}
#cube3D #element .side.top {
    transform: rotateX(90deg) translateZ(50px);
}
#cube3D #element .side.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}
#cube3D #element .side .path {
    width: auto;
    height: 100%;
    background: #fff;
    clip-path: inset(0 30%);
}
#cube3D #element .side.front .path {
    clip-path: polygon(18% 60%, 30% 60%, 30% 0%, 70% 0%, 70% 60%, 82% 60%, 52% 85%);
}
#cube3D #element .side.bottom .path {
    clip-path: polygon(70% 100%, 30% 100%, 30% 35%, 52% 50%, 70% 35%);
}
#cube3D #controller {
    width: 100%;
    height: auto;    
    position: absolute;
    text-align: center;
    bottom: 5px;
    z-index: 1;
}
#cube3D #controller .btn {
    font-size: 2rem;
    cursor: pointer;
    color: #cacaca;
    background: #041d29;
    position: relative;
    padding: 2px 4px 0px;
    margin: 0 1px;
}
#cube3D #controller .btn.fa-stop span {
    width: 10px;
    height: 10px;
    background: #041d29;
    position: absolute;
    left: 11px;
    top: 9px;
}


@media all and (max-width: 1200px) {
    #cube3D #element {
        transform: rotateX(-22deg) rotateY(-45deg);
    }
    #cube3D #controller .btn {
        font-size: 2.5rem;
    }
    #cube3D #controller .btn.fa-stop span {
        width: 10px;
        height: 10px;
        left: 14px;
        top: 14px;
    }
}

@media all and (max-width: 840px) {
    #cube3D #element {
        margin-top: -30px;
    }
     #cube3D #controller .btn.fa-stop span {
        left: 14px;
        top: 14px;
    }
}

@media all and (max-width: 840px) {
    #cube3D #controller .btn {
        font-size: 2.2rem;
    }
    #cube3D #controller .btn.fa-stop span {
        left: 12px;
        top: 10px;
    }
}
