
#drawning_css {
    width: 275px;
    height: 280px;
    position: relative;   
    margin-bottom: 15%;
    filter: contrast(1.25) brightness(0.9);
}
#puppet {
    width: 164px;
    height: 100%;    
    transform-style: preserve-3d;
    perspective: 600px;    
    filter: contrast(1.3) brightness(0.75) saturate(1.85);
}
#puppet .blocks {
    position: absolute;
    background: #edd1a1;
}
#puppet #head {
    width: 156px;
    height: 100px;
    position: relative;
    z-index: 4;
}
#puppet #head .top {
    width: 105px;
    height: 35px;
    transform: skewX(62deg);
    top: 8px;
    left: 38px;
}
#puppet #head .top span {
    padding: 0.5rem;
    background: #b5a588;    
    transform: rotate(89deg) scale(0.1, 8);
    position: absolute;
    right: 45px;
    top: 10px;
}
#puppet #head .side {
    width: 68px;
    height: 94px;
    background: #DEB887;
    transform: rotate(5deg) skew(-5deg, 24deg);
    top: 25px;
    left: -4px;
}
#puppet #head .face {
    width: 104px;
    height: 92px;
    background: #DEB887;
    box-shadow: 0px 0px 50px 3px #a18560 inset;
    transform: rotate(-2deg) skew(-20deg, 1deg);
    border-radius: 0 0 0 15px;
    z-index: -1;
    top: 43px;
    right: -5px;
}
#puppet #head .face span#eye-l, 
#puppet #head .face span#eye-r {
    position: absolute;
    padding: 0.45rem;
    border-radius: 50%;
    background: #775c29;    
}
#puppet #head .face span#eye-l {
    transform: skewY(-15deg);
    left: 30px;
    top: 30px;    
}
#puppet #head .face span#eye-r {
    transform: skewY(-15deg);
    left: 65px;
    top: 30px;    
}
#puppet #head .face span#mouth {
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  border-bottom: 0.8rem solid #775c29;
  position: absolute;
  left: 45px;
  top: 58px;
}
#puppet #armrest-l {    
    position: relative;
    left: 14px;  
    top: 28px;  
    z-index: 3;
}
#puppet #armrest-l .side {
    width: 20px;
    height: 104px;
    background: linear-gradient(210deg, #725a3b, #ffe4b5);
    transform: rotate(12deg);
    z-index: 1;
}
#puppet #armrest-l .front {
    width: 20px;
    height: 105px;
    background: linear-gradient(32deg, #ad906a 40%, #856a46 100%);
    transform: rotate(12deg) skewY(-12deg);
    box-shadow: 0px 0px 0px 2px #7a602e inset;
    left: 20px;
    top: 2px;
    z-index: 0;
}
#puppet #torso {    
    position: relative;
    left: 30px;
    top: 20px;
    z-index: 2;
}
#puppet #torso .side {
    width: 45px;
    height: 84px;
    background: linear-gradient(45deg, #ad906a 40%, #856a46 100%);
    border-radius: 10px 0px 0px 24px;
    border-bottom: 1px solid #7a602e;
}
#puppet #torso .front {
    width: 50px;
    height: 84px;
    background: linear-gradient(90deg, #856a46 0%, #ad906a 2%, #856a46 100%);
    border-radius: 0px 10px 5px 0;
    border-bottom: 1px solid #7a602e;
    left: 40px;
}
#puppet #armrest-r {
    position: relative;
    right: 40px;
    float: right;
}
#puppet #armrest-r .front {
    width: 20px;
    height: 85px;
    background: linear-gradient(32deg, #ad906a 40%, #856a46 100%);
    transform: rotate(-10deg);
    right: -10px;
    top: 35px;    
}
#puppet #waist {
    position: relative;
    top: 100px;
    left: 40px;
    z-index: 1;
}
#puppet #waist .blocks {
    background: linear-gradient(32deg, #ad906a 40%, #856a46 100%);
    box-shadow: 0px 0px 0px 2px #7a602e inset;
}
#puppet #waist .path1 {
    width: 30px;
    height: 32px;
    transform: rotate(10deg);
    border-radius: 0px 0px 8px 5px;    
}
#puppet #waist .path2 {
    width: 45px;
    height: 24px;    
    transform: rotate(-5deg) skew(40deg, 0deg);
    border-radius: 0px 0px 8px 5px;
    left: 40px;
}
#puppet #legs {
    position: relative;
    left: 47px;
    top: 100px;
}
#puppet #legs #leg-l .side {
    width: 32px;
    height: 80px;    
    transform: rotate(-16deg);
    background: #DEB887;
}
#puppet #legs #leg-l .front {
    width: 26px;
    height: 73px;
    background: linear-gradient(32deg, #ad906a 40%, #856a46 100%);
    box-shadow: 0px 0px 0px 2px #7a602e inset;
    transform: rotate(-16deg);    
    left: 32px;
    z-index: -1;
}
#puppet #legs #leg-l .sole {
    width: 58px;
    height: 11px;        
    transform: rotate(-14deg);
    clip-path: inset(7px 2px 0px 0px);
    background: #ad906a ;
    border-radius: 50%;
    left: 10px;
    top: 68px;
    z-index: -1;
}
#puppet #legs #leg-r .front {
    width: 32px;
    height: 74px;
    background: #DEB887;
    left: 40px;
    z-index: -2;
}

#paperbox {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;   
    filter: contrast(1.2) brightness(0.75) saturate(1.25) sepia(0.2);
}
#paperbox .side {
    position: relative;
}
#paperbox .side.top {
    width: 60px;
    height: 40px;
    background: #be8966;
    transform: rotate(20deg) skewX(-20deg);
}
#paperbox .side.top:before {
    content: "";
    position: absolute;
    width: 45%;
    height: 100%;
    background: #f7cba1;
    transform: skewY(20deg);
    left: -25px;
    top: -4px;
    animation: light 1.4s ease-in-out infinite;
}
#paperbox .side.top:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background: #dba97f;
    transform: skewX(10deg);
    left: 0px;
    top: -18px;
    animation: light 1.4s ease-in-out infinite;
}
#paperbox .side.left {       
    width: 54px;
    height: 48px;
    background: #eabd92;
    margin: -5px 0px 0px -12px;    
    transform: skewY(20deg);
    z-index: 1;
}
#paperbox .side.left:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background: #f7cba1;
    box-shadow: 1px 1px 3px 0px #be8966;
    transform: skewX(-20deg);
    left: -3px;
    z-index: 1;
}
#paperbox .side.right {
    width: 30px;
    height: 50px;
    margin: -12px 0px 0px 42px;
    background: #dba97f;
    transform: skewY(-45deg);
    z-index: 1;
}
#paperbox .side.right:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    background: #f7cba1;
    box-shadow: -1px 1px 3px 0px #be8966;
    transform: skewX(24deg);
    right: -5px;
    top: 2px;
    z-index: 1;
}
#paperbox #sphere {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(circle, #a1e0cf 0%, #d5eee8 50%, #fafffd 100%);
    position: absolute;
    margin: 0 5px;
    bottom: 30px;
    animation: sphereLight 1.4s ease-in-out infinite;
}

@keyframes light {
    0% { filter: brightness(110%); }
    50% { filter: brightness(100%); }
    100% { filter: brightness(110%);}
}

@keyframes sphereLight {
    0% { box-shadow: 1px 1px 7px 7px #a1e0cf }
    50% { box-shadow: 1px 1px 7px 2px #a1e0cf }
    100% { box-shadow: 1px 1px 7px 7px #a1e0cf }
}


@media all and (max-width: 480px){
    #drawning_css {
        transform: scale(0.9);
    }
}
